<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @illness_control.name %>
</p>

<%= link_to 'Edit', edit_illness_control_path(@illness_control) %> |
<%= link_to 'Back', illness_controls_path %>
