<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @harvest_procedure.name %>
</p>

<%= link_to 'Edit', edit_harvest_procedure_path(@harvest_procedure) %> |
<%= link_to 'Back', harvest_procedures_path %>
