<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fertilize_procedure.name %>
</p>

<%= link_to 'Edit', edit_fertilize_procedure_path(@fertilize_procedure) %> |
<%= link_to 'Back', fertilize_procedures_path %>
