<h1>แปลงแตงโม</h1>
<div class="row">
  <% @plots.each do |plot| %>
  <div class="col-lg-3 col-md-4">
    <div class="card" style="margin:5px;">
      <div class="card-img-top">
        <%= raw plot_picture_carousel(plot, 400) %>
      </div>
      <div class="card-body">
        <%= link_to "รหัสแปลง #{plot.id}", plot %><br>
        <b>เจ้าของ</b> <%= plot.farmer.display_name %><br>
        <b>ที่อยู่</b> <%= plot.display_address %>
      </div>
    </div>
  </div>
  <% end %>
</div>