<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @watering_management.name %>
</p>

<%= link_to 'Edit', edit_watering_management_path(@watering_management) %> |
<%= link_to 'Back', watering_managements_path %>
