<p id="notice"><%= notice %></p>

<h1>รายชื่อเกษตรกร</h1>
<div class="row">
  <% @farmers.each do |farmer| %>
  <div class="col-lg-3 col-md-4">
    <div class="card" style="margin:5px;">
      <div class="card-img-top">
        <%= farmer_picture(farmer, 400) %>
      </div>
      <div class="card-body">
        <%= link_to "#{farmer.title} #{farmer.firstName} #{farmer.lastName}", farmer %>
      </div>
    </div>
  </div>
  <% end %>
</div>