<p id="notice"><%= notice %></p>

<h1>รายชื่อเกษตรกร</h1>
<div class="row">
  <% @farmers.each do |farmer| %>
  <div class=col-3>
    <div class="card" style="margin:5px;">
      <div class="card-img-top" style="background-image:url('<%= farmer.picture.attached? ? url_for(farmer.picture) : "" %>'); height:200px; background-position:center;">&nbsp;</div>
      <!--<img src="<%#= farmer.picture.attached? ? url_for(farmer.picture) : "" %>" class="card-img-top" alt="...">-->
      <div class="card-body">
        <%= link_to "#{farmer.title} #{farmer.firstName} #{farmer.lastName}", farmer %>
      </div>
    </div>
  </div>
  <% end %>
</div>